.options {
  display: flex;
  margin: 10px 0;
  padding: 1em;
}
.initialization-nfa,
.regexcontainer {
  padding: 1em;
  max-width: 480px;
}
#stringShow span {
  padding: 2px;
  font-size: large;
  margin: 0;
  background-color: aliceblue;
}
